@mixin phone480{
  @media only screen and (max-width: $phoneWidth480) { @content; }
}
@mixin phone{
  @media only screen and (max-width: $phoneWidth) { @content; }
}
@mixin phone640{
  @media only screen and (max-width: $phoneWidth640) { @content; }
}
@mixin tablet{
  @media only screen and (max-width: $tabletWidth) { @content; }
}
@mixin tablet850{
  @media only screen and (max-width: $tabletWidth850) { @content; }
}
@mixin desktop{
  @media only screen and (max-width: $desktopWidth) { @content; }
}
@mixin middleDesktop{
  @media only screen and (max-width: $middleDesktopWidth) { @content; }
}
@mixin largeDesktop{
  @media only screen and (max-width: $largeDesktopWidth) { @content; }
}