// Media sizes
$phoneWidth480: 480px;
$phoneWidth: 576px;
$phoneWidth640: 640px;
$tabletWidth: 767px;
$tabletWidth850: 850px;
$desktopWidth: 992px;
$middleDesktopWidth: 1050px;
$largeDesktopWidth: 1200px;

// Colors
$white: #FFF;
$black: #000;
$lightGray: #f0f0f0;
$mainGreen: #39a38f;
$grafit: #303030;

// Fonts
$openSans: 'Open Sans', sans-serif;
$font-family: $openSans;
$font-size: 12px;
$font-color: $black;
$font-weight: normal;


