@import "1-base/default";

.primary-font {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: 1.2em;
}

p {
  @extend .primary-font;
  line-height: 1.2;
  color: $white;
}

h1, h2, h3, h4, h5 {
  font-family: $openSans;
  color: $black;
  line-height: 1.1;
}
a{
  color: $black;
  text-decoration:  none;
  &:hover,
  &:active,
  &:visited,
  &:focus{
    text-decoration: none;
    color: $black;
  }
}
body {
  @extend .primary-font;
  color: $font-color;
  background: $white;
}
.header {
  width: 100%;
  overflow: hidden;
  background: $mainGreen;
  p{
    @extend .primary-font;
    color: $white;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
  }
}
.header__container {
  position: relative;
  min-height: 350px;
  height: 100vh;
  max-height: 750px;
  @include tablet {
    padding-top: 40px;
  }
}
.header__left-text {
  display: inline-block;
  margin-top: 55px;
  @include tablet {
    display: block;
    margin-top: 0px;
    &::before {
      content: '';
      display: block;
      clear: both;
    }
  }
  @include phone {
    padding-left: 20px;
  }
}
p{
  &.header__h1 {
    display: inline-block;
    margin-left: -8px;
    font-size: 100px;
    font-weight: 800;
    line-height: 1em;
    @include largeDesktop {
      font-size: 8.333333333333334vw;
    }
    @include phone {
      margin-left: -4px;
    }
    @include phone480{
      margin-top: 20px;
      font-size: 40px;
    }
  }
  &.header__middle {
    margin-left: -4px;
    font-size: 54px;
    text-transform: uppercase;
    @include largeDesktop {
      font-size: 4.5vw;
    }
    @include phone {
      margin-left: -3px;
    }
    @include phone480{
      font-size: 30px;
    }
  }
  &.header__small {
    position: relative;
    margin-left: -2px;
    padding-bottom: 25px;
    font-size: 34px;
    @include largeDesktop {
      font-size: 2.8333333333333335vw;
    }
    @include phone480{
      font-size: 20px;
    }
    &::before {
      content: '';
      position: absolute;
      left: 2px;
      bottom: 0;
      width: 250px;
      height: 1px;
      background-color: $white;
    }
  }
  &.header__link {
    margin-left: -1px;
    margin-top: 25px;
    a{
      font-size: 18px;
      font-style: italic;
      color: $white;
      @include phone {
        font-size: 15px;
      }
    }
  }
}
.header__right-text {
  display: flex;
  align-items: center;
  float: right;
  position: relative;
  padding: 20px 0;
  margin-top: 80px;
  height: 90px;
  background: rgba($black, 0.2);
  @include desktop {
    height: 70px;
  }
  @include tablet {
    margin-top: 0;
    height: 50px;
  }
  &::before {
    content: '';
    position: absolute;
    left: -45px;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 90px 45px;
    border-color: transparent transparent rgba($black, 0.2) transparent;
    @include desktop {
      border-width: 0 0 70px 45px;
    }
    @include tablet {
      border-width: 0 0 50px 45px;
    }
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: calc((-100vw + 1120px) / 2);
    height: 90px;
    width: calc((100vw - 1120px) / 2);
    background: rgba($black, 0.2);
    @include largeDesktop {
      right: calc((-100vw + 940px) / 2);
      width: calc((100vw - 940px) / 2);
    }
    @include desktop {
      height: 70px;
      right: calc((-100vw + 700px) / 2);
      width: calc((100vw - 700px) / 2);
    }
    @include tablet {
      height: 50px;
      right: calc((-100vw + 520px) / 2);
      width: calc((100vw - 520px) / 2);
    }
    @include phone {
      width: 50px;
      right: -50px;
    }
  }
  p{
    text-align: right;
    font-size: 18px;
    font-weight: 700;
    color: $white;
    @include tablet {
      font-size: 15px;
    }
  }
}
.header__arrows {
  position: absolute;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  bottom: 45px;
  width: 34px;
  animation: move 2s linear infinite alternate;
  @include phone {
    left: 48%;
  }
  &:hover {
    cursor: pointer;
  }
}
.arrow__svg {
  width: 30px;
  height: 25px;
  transform:  rotate(90deg);
  &:nth-child(1) {
    margin-bottom: -5px;
    use {
      fill: rgba($white, 0.3);
      animation: pulse_one 3s infinite;
    }
  }
  &:nth-child(2) {
    margin-bottom: -5px;
    use {
      fill: rgba($white, 0.6);
      animation: pulse_two 3s infinite;
    }
  }
  &:nth-child(3) {
    use {
      fill: $white;
    }
  }
  @include desktop {
    width: 25px;
    height: 20px;
  }
}
@-webkit-keyframes pulse_one {
  0%, 100% {
    fill: rgba($white, 0.2);
  }
  50% {
    fill: $white;
  }
}
@-moz-keyframes pulse_one {
  0%, 100% {
    fill: rgba($white, 0.2);
  }
  50% {
    fill: $white;
  }
}
@-o-keyframes pulse_one {
  0%, 100% {
    fill: rgba($white, 0.2);
  }
  50% {
    fill: $white;
  }
}
@keyframes pulse_one {
   0%, 100% {
     fill: rgba($white, 0.2);
   }
   50% {
     fill: $white;
   }
 }
@-webkit-keyframes pulse_two {
  0%, 100% {
    fill: rgba($white, 0.5);
  }
  50% {
    fill: $white;
  }
}
@-moz-keyframes pulse_two {
  0%, 100% {
    fill: rgba($white, 0.5);
  }
  50% {
    fill: $white;
  }
}
@-o-keyframes pulse_two {
  0%, 100% {
    fill: rgba($white, 0.5);
  }
  50% {
    fill: $white;
  }
}
@keyframes pulse_two {
  0%, 100% {
    fill: rgba($white, 0.5);
  }
  50% {
    fill: $white;
  }
}
@-webkit-keyframes move {
  0%, 100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(15px);
  }
}
@-moz-keyframes move {
  0%, 100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(15px);
  }
}
@-o-keyframes move {
  0%, 100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(15px);
  }
}
@keyframes move {
  0%, 100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(15px);
  }
}

.header__nav {
  display: flex;
  align-items: center;
  background: $white;
  min-height: 62px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba($black, 0.3);
  @include desktop {
    align-items: flex-start;
    padding-top: 18px;
  }
}
.nav__logo {
  p{
    font-size: 30px;
    font-weight: 800;
    color: $grafit;
    line-height: 1em;
    padding-bottom: 5px;
    text-shadow: none;
    @include desktop {
      line-height: 0.8em;
    }
  }
  span {
    color: $mainGreen;
  }
}
.portfolio__btn,
.nav-btn {
  display: none;
  @include desktop {
    display: block;
  }
}
.nav__mobile-btn,
.portfolio__btn{
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  float: right;
  width: 30px;
  height: 25px;
  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: $grafit;
    transition: all 0.3s ease-in-out;
  }
  span {
    display: block;
    width: 100%;
    height: 2px;
    background: $grafit;
    transition: all .3s ease-in-out;
  }
  @include desktop {
    display: flex;
  }
  &.open {
    span {
      visibility: hidden;
    }
    &::before {
      transform: translateY(12px) rotateZ(45deg);
    }
    &::after{
      transform: translateY(-12px) rotateZ(-45deg);
    }
  }
}
.nav__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include desktop {
    flex-direction: column;
  }
}
.nav-menu {
  @include desktop {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, visibility 0.1s ease-in-out;
    &.show_menu {
      max-height: 300px;
      visibility: visible;
    }
  }
}
.main-nav{
  display: flex;
  justify-content: center;
  flex-basis: 80%;
  max-width: 80%;
  @include desktop {
    margin-bottom: 20px;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include desktop {
      flex-direction: column;
    }
  }
  li{
    padding-left: 22px;
    padding-right: 22px;
    @include desktop {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
    }
  }
  a{
    @extend .primary-font;
    font-size: 14px;
    color: rgba($grafit, 0.6);
    transition: all .3s ease;
    &:hover {
      color: $grafit;
    }
    @include desktop {
      align-items: center;
      font-size: 18px;
      color: $grafit;
    }
  }
}
.nav__social {
  @include desktop {
    margin-bottom: 20px;
  }
  i {
    font-size: 20px;
    color: rgba($grafit, 0.5);
    transition: all .3s ease-in-out;
    @include desktop {
      color: $grafit;
    }
  }
  a:hover {
    i {
      color: $grafit;
    }
  }
  ul{
    text-align: center;
    @include desktop {
      text-align: right;
    }
  }
  li {
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
  }
}
.about {
  margin-top: 60px;
  @include desktop {
    margin-top: 40px;
  }
  p{
    @extend .primary-font;
    text-align: center;
  }
}
.about__heading {
  position: relative;
  padding-bottom: 25px;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 12%;
    height: 1px;
    background: rgba($grafit, 0.2);
    @include tablet {
      width: 30%;
    }
  }
}
p.heading__large {
  font-size: 45px;
  font-weight: 800;
  line-height: 1.4em;
  color: $grafit;
  @include largeDesktop {
    font-size: 3.75vw;
  }
  @include phone640 {
    font-size: 28px;
  }
  span{
    color: $mainGreen;
  }
}
p.heading__middle {
  font-size: 30px;
  color: rgba($grafit, 0.5);
  @include largeDesktop {
    font-size: 2.5vw;
  }
  @include phone640 {
    font-size: 18px;
  }
}
.about__describe {
  p {
    margin-top: 40px;
    font-size: 17px;
    color: rgba($grafit, 0.5);
  }
}
.about__cols {
  margin-top: 65px;
  margin-bottom: 65px;
  @include desktop {
    margin-bottom: 40px;
  }
}
.about__wrap-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include phone {
    padding: 20px;
  }
  p {
    &.block__head {
      margin-top: 35px;
      margin-bottom: 20px;
      font-size: 18px;
      color: $grafit;
      span {
        color: $mainGreen;
      }
    }
    &.block__describe {
      font-size: 13px;
      color: rgba($grafit, 0.5);
    }
  }
  .block__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    img {
      width: auto;
      height: auto;
      max-height: 100%;
    }
  }
}
.about__statistic {
  padding-top: 62px;
  padding-bottom: 62px;
  background: $lightGray;
  @include desktop {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .col-6{
    @include phone480 {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}
.statistic__wrap-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  @include desktop {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: flex-start;
  }
  p {
    &.statistic__num {
      font-size: 50px;
      font-weight: 800;
      text-align: left;
      line-height: 1em;
      margin-bottom: 2px;
      color: $mainGreen;
      @include largeDesktop {
        font-size: 4.166666666666667vw;
      }
      @include phone640{
        font-size: 28px;
      }
    }
    &.statistic__heading {
      font-size: 18px;
      text-align: left;
      color: rgba($grafit, 0.5);
    }
  }
}
.statistic__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  @include desktop {
    width: 30%;
    margin-right: 30px;
  }
  img{
    max-width: 100%;
  }
}
.clients {
  padding-top: 80px;
  padding-bottom: 80px;
  background: $mainGreen;
  @include desktop {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include phone {
    padding-left: 20px;
    padding-right: 20px;
  }
  p{
    text-align: center;
    &.clients__heading {
      margin-bottom: 5px;
      font-size: 27px;
      font-weight: 800;
      color: $white;
    }
    &.clients__text {
      font-size: 23px;
      color: $white;
    }
  }
  i{
    font-size: 20px;
    line-height: 1em;
    vertical-align: middle;
  }
}
.clients__head {
  position: relative;
  width: 100%;
  padding-bottom: 25px;
  margin-bottom: 45px;
  &::before {
    content: '';
    position: absolute;
    width: 12%;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $white;
    @include tablet {
      width: 30%;
    }
  }
}
.clients__wrap-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  img{
    max-width: 100%;
  }
}
.services {
  padding-top: 40px;
  padding-bottom: 35px;
  background: $white;
  p{
    text-align: center;
    &.services__heading {
      margin-bottom: 5px;
      font-size: 27px;
      font-weight: 800;
      color: $black;
    }
    &.services__text {
      font-size: 23px;
      color: rgba($grafit, 0.5);
    }
  }
}
.services__head {
  @extend .clients__head;
  &::before {
    content: '';
    background: rgba($grafit, 0.2);
  }
}
.services__wrap-block {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 30px;
  @include phone {
    padding-left: 20px;
    padding-right: 20px;
  }
  .block__img {
    flex-basis: 42%;
    min-width: 40px;
    margin-right: 20px;
    @include tablet {
      min-width: 50px;
    }
    img {
      width: auto;
      max-width: 100%;
    }
  }
  p{
    &.block__heading {
      position: relative;
      padding-bottom: 15px;
      margin-bottom: 25px;
      font-size: 18px;
      text-align: left;
      color: $grafit;
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 30%;
        height: 1px;
        background: rgba($grafit, 0.2);
      }
    }
    &.block__describe {
      font-size: 13px;
      text-align: left;
      color: rgba($grafit, 0.5);
    }
  }
  span {
    color: $mainGreen;
  }
}
.qoute {
  padding-top: 75px;
  padding-bottom: 60px;
  background: $mainGreen;
  @include phone {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.qoute__block {
  position: relative;
  p{
    text-align: center;
    &.block__text {
      position: relative;
      padding-bottom: 25px;
      margin-bottom: 25px;
      font-size: 21px;
      color: $white;
      @include phone640{
        font-size: 18px;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 12%;
        height: 1px;
        background: $white;
        @include tablet {
          width: 30%;
        }
      }
    }
    &.block__author {
      font-size: 18px;
    }
  }
  b {
    font-weight: 700;
  }
  span {
    position: absolute;
    transform: rotate(180deg);
    font-size: 200px;
    line-height: 0;
    font-style: italic;
    color: rgba($white, 0.2);
    @include desktop {
      font-size: 120px;
    }
    @include phone640 {
      display: none;
    }
    &:first-child {
      left: -55px;
      top: -55px;
      @include desktop {
        left: -25px;
        top: -25px;
      }
    }
    &:last-child {
      right: -55px;
      bottom: 55px;
      @include desktop {
        right: -25px;
        bottom: 25px;
      }
    }
  }
}
.team {
  background: $white;
}
.team__head {
  @extend .clients__head;
  padding-top: 60px;
  padding-bottom: 25px;
  margin-bottom: 60px;
  @include desktop {
    padding-top: 40px;
    margin-bottom: 40px;
  }
  &::before {
    background: rgba($grafit, 0.2);;
  }
  p{
    text-align: center;
   &.team__heading {
     margin-bottom: 5px;
     font-size: 27px;
     font-weight: 800;
     color: $black;
   }
    &.team__text {
      font-size: 23px;
      color: rgba($grafit, 0.5);
    }
  }
}
.team__main {
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
  background: $lightGray;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 30px;
    border-color: transparent transparent $lightGray transparent;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.team__wrap {
  position: relative;
  @include middleDesktop {
    max-width: 90%;
    margin: 0 auto;
  }
  @include desktop {
    max-width: 100%;
  }
  @include tablet850 {
    max-width: 90%;
  }
  @include tablet {
    max-width: 100%;
  }
  @include phone640 {
    max-width: 80%;
  }
  @include phone {
    max-width: 75%;
  }
  button {
    display: block;
    position: absolute;
    width: 27px;
    height: 35px;
    top: 50%;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    &:hover {
      cursor: pointer;
      use {
        fill: $grafit;
      }
    }
    @include phone {
      width: 23px;
    }
    svg {
      width: 100%;
      height: 100%;
    }
    use {
      fill: rgba($grafit, 0.2);
    }
    &.next {
      right: -40px;
      transform: translateY(-50%);
      @include phone {
        right:  -30px;
      }
    }
    &.prev {
      left: -40px;
      transform: rotateY(180deg) translateY(-50%);
      @include phone {
        left:  -30px;
      }
    }
  }
}
.team__item {
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}
.item__img {
  height: 225px;
  background: $mainGreen;
  @include largeDesktop {
    height: 18.75vw;
    min-height: 180px;
  }
}
.item__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 18px 20px;
  border-bottom: 2px solid $mainGreen;
  background: $white;
  .name {
    font-size: 18px;
    line-height: 1.4em;
    color: $grafit;
  }
  .position {
    font-size: 14px;
    color: rgba($grafit, 0.5);
  }
}
.item__social {
  @include desktop {
    margin-top: 5px;
  }
  i {
    color: rgba($grafit, 0.4);
    transition: all .3s ease;
  }
  a {
    margin-right: 10px;
    outline: none;
    @include desktop {
      margin-right: 5px;
    }
    &:hover {
      i{
        color: $grafit;
      }
    }
  }
}
.slick-dotted.slick-slider {
  @include phone480 {
    margin-bottom: 50px;
  }
}
.slick-dots {
  @include phone480 {
    bottom: -50px;
  }
  li {
    width: 20px;
    height: 20px;
    margin: 0;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      padding: 2px;
      &::before {
        content: '';
        display: block;
        position: static;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $grafit;
      }
    }
    &.slick-active {
      button {
        &::before {
          opacity: 1;
          background: $mainGreen;
        }
      }
    }
  }
}
.portfolio {
  @extend .team;

}
.portfolio__header {
  padding-bottom: 45px;
}
.portfolio__head {
  @extend .team__head;
  padding-bottom: 45px;
  p{
    text-align: center;
    &.portfolio__heading {
      margin-bottom: 5px;
      font-size: 27px;
      font-weight: 800;
      color: $black;
    }
    &.portfolio__text {
      font-size: 23px;
      color: rgba($grafit, 0.5);
    }
  }
}
.portfolio__btn {
  display: none;
  margin: 0 auto;
  float: none;
  @include phone {
    display: flex;
  }
}
.portfolio__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  @include phone {
    display: block;
    background: $white;
  }
  ul {
    @include phone {
      margin-top: 10px;
      max-height: 0;
      visibility: hidden;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      background: $white;
    }
  }
  &.show_menu {
    ul{
      max-height: 300px;
      visibility: visible;
    }
  }
  li{
    display: inline-block;
    padding: 0 20px;
    @include phone {
      display: block;
      padding: 15px;
      text-align: center;
    }
  }
  a{
    font-size: 16px;
    color: rgba($grafit, 0.5);
    transition: all 0.3s ease;
    &:hover {
      color: $grafit;
    }
    @include phone {
      color: $grafit;
    }
  }
}
.portfolio__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vw;
  max-height: 300px;
  background-color: $mainGreen;
  img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include tablet {
    height: 30vw;
  }
  @include phone480 {
    height: 50vw;
  }
}
.portfolio__item--color {
  background-color: rgba($mainGreen, 0.8);
  @include tablet {
    background-color: $mainGreen;
  }
}
.portfolio__item--tablet {
  @include tablet {
    background-color: rgba($mainGreen, 0.8);
  }
}
.portfolio__main {
  .col-md-3 {
    padding-left: 0;
    padding-right: 0;
  }
}
.item__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: auto;
    height: auto;
    margin-bottom: 20px;
  }
  p {
    text-align: center;
    &.item__name {
      margin-bottom: 10px;
      a{
        font-size: 18px;
        font-weight: 700;
        line-height: 1.4em;
        color: $white;
        @include phone480 {
          font-size: 16px;
        }
      }
    }
    &.item__text {
      a{
        font-size: 16px;
        color: $white;
        @include phone480 {
          font-size: 14px;
        }
      }
    }
  }
}
.contact__head {
  @extend .portfolio__head;
  p{
    text-align: center;
    &.contact__heading {
      margin-bottom: 5px;
      font-size: 27px;
      font-weight: 800;
      color: $black;
    }
    &.contact__text {
      font-size: 23px;
      color: rgba($grafit, 0.5);
    }
  }
}
.contact__main {
  position: relative;
  padding-top: 145px;
  padding-bottom: 77px;
  background: $lightGray;
  background: -moz-linear-gradient(to bottom, $mainGreen 0, $mainGreen 38.333333333333336vw, $lightGray 38.333333333333336vw, $lightGray 100%);
  background: -webkit-gradient(to bottom, $mainGreen 0, $mainGreen 38.333333333333336vw, $lightGray 38.333333333333336vw, $lightGray 100%);
  background: -webkit-linear-gradient(to bottom, $mainGreen 0, $mainGreen 38.333333333333336vw, $lightGray 38.333333333333336vw, $lightGray 100%);
  background: -o-linear-gradient(to bottom, $mainGreen 0, $mainGreen 38.333333333333336vw, $lightGray 38.333333333333336vw, $lightGray 100%);
  background: -ms-linear-gradient(to bottom, $mainGreen 0, $mainGreen 38.333333333333336vw, $lightGray 38.333333333333336vw, $lightGray 100%);
  background: linear-gradient(to bottom, $mainGreen 0, $mainGreen 38.333333333333336vw, $lightGray 38.333333333333336vw, $lightGray 100%);
  @include largeDesktop {
    padding-top: 12.083333333333334vw;
    padding-bottom: 6.416666666666667vw;
  }
  @include phone {
    background: $lightGray;
    background: -moz-linear-gradient(to bottom, $mainGreen 0, $mainGreen 30%, $lightGray 30%, $lightGray 100%);
    background: -webkit-gradient(to bottom, $mainGreen 0, $mainGreen 30%, $lightGray 30%, $lightGray 100%);
    background: -webkit-linear-gradient(to bottom, $mainGreen 0, $mainGreen 30%, $lightGray 30%, $lightGray 100%);
    background: -o-linear-gradient(to bottom, $mainGreen 0, $mainGreen 30%, $lightGray 30%, $lightGray 100%);
    background: -ms-linear-gradient(to bottom, $mainGreen 0, $mainGreen 30%, $lightGray 30%, $lightGray 100%);
    background: linear-gradient(to bottom, $mainGreen 0, $mainGreen 30%, $lightGray 30%, $lightGray 100%);
  }
}
.contact__name-block {
  position: relative;
  width: 165px;
  padding: 20px;
  margin: 0 auto 105px;
  background: $white;
  @include largeDesktop {
    margin: 0 auto 8.75vw;
  }
  @include phone480 {
    margin-bottom: 40px;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: $white transparent transparent transparent;
  }
  p{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: $grafit;
    @include tablet {
      font-size: 24px;
    }
  }
  span {
    color: $mainGreen;
  }
}
.contact__form-wrap {
  padding: 45px;
  background-color: $white;
  @include largeDesktop {
    padding: 3.75vw;
  }
}
.contact__form {
  button {
    display: block;
    padding: 15px 20px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    background: $mainGreen;
    color: $white;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }
}
.form__wrap-field {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
  label {
    display: inline-block;
    padding-left: 5px;
    margin-bottom: 10px;
    @extend .primary-font;
    font-size: 14px;
    color: $grafit;
  }
  input,
  textarea {
    display: block;
    width: 100%;
    padding: 15px 20px;
    @extend .primary-font;
    font-size: 16px;
    outline: none;
    background: $white;
    color: $grafit;
    overflow: hidden;
    border: 1px solid rgba($grafit, 0.2);
    @include desktop {
      padding: 10px;
      font-size: 14px;
    }
  }
  textarea {
    resize: none;
  }
  label.error {
    position: absolute;
    top: 0;
    right: 5px;
    @extend .primary-font;
    font-size: 12px;
    color: $mainGreen
  }
}
.info__text-block {
  margin-bottom: 45px;
}
.contact__info {
  p{
    &.info__head{
      margin-bottom: 30px;
      font-size: 23px;
      font-weight: 700;
      color: $grafit;
    }
    &.info__text{
      margin-bottom: 25px;
      font-size: 14px;
      color: rgba($grafit, 0.5);
    }
  }
  @include tablet {
    padding-top: 20px;
  }
}
.info__block {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  img {
    width: 15%;
    height: auto;
    margin-right: 20px;
    @include desktop {
      width: 10%;
    }
    @include tablet {
      width: 7%;
    }
  }
  p {
    font-size: 18px;
    color: $grafit;
    @include desktop {
      font-size: 14px;
    }
    @include tablet {
      font-size: 16px;
    }
  }
}
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba($grafit, 0.2);
}
.footer__text {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  p {
    font-size: 15px;
    color: rgba($grafit, 0.5);
    @include tablet {
      font-size: 12px;
    }
  }
}
.footer__arrow {
  width: 30px;
  height: 30px;
  @include desktop {
    width: 20px;
    height: 20px;
  }
  &:hover {
    cursor: pointer;
    use {
      fill: $grafit;
      transition: all 0.3s ease;
    }
  }
  svg {
    width: 100%;
    transform: rotate(-90deg);
  }
  use {
    fill: rgba($grafit, 0.5);
    transition: all 0.3s ease;
  }
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  ul {
    display: flex;
    align-items: center;
  }
  a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    color: rgba($grafit, 0.5);
    transition: all 0.3s ease;
    &:hover {
      color: $grafit;
    }
  }
}