/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&amp;subset=cyrillic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.primary-font, p, body, .header p, .main-nav a, .about p, .form__wrap-field label, .form__wrap-field input,
.form__wrap-field textarea, .form__wrap-field label.error {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2em; }

p {
  line-height: 1.2;
  color: #FFF; }

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;
  color: #000;
  line-height: 1.1; }

a {
  color: #000;
  text-decoration: none; }
  a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    color: #000; }

body {
  color: #000;
  background: #FFF; }

.header {
  width: 100%;
  overflow: hidden;
  background: #39a38f; }
  .header p {
    color: #FFF;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2); }

.header__container {
  position: relative;
  min-height: 350px;
  height: 100vh;
  max-height: 750px; }
  @media only screen and (max-width: 767px) {
    .header__container {
      padding-top: 40px; } }

.header__left-text {
  display: inline-block;
  margin-top: 55px; }
  @media only screen and (max-width: 767px) {
    .header__left-text {
      display: block;
      margin-top: 0px; }
      .header__left-text::before {
        content: '';
        display: block;
        clear: both; } }
  @media only screen and (max-width: 576px) {
    .header__left-text {
      padding-left: 20px; } }

p.header__h1 {
  display: inline-block;
  margin-left: -8px;
  font-size: 100px;
  font-weight: 800;
  line-height: 1em; }
  @media only screen and (max-width: 1200px) {
    p.header__h1 {
      font-size: 8.333333333333334vw; } }
  @media only screen and (max-width: 576px) {
    p.header__h1 {
      margin-left: -4px; } }
  @media only screen and (max-width: 480px) {
    p.header__h1 {
      margin-top: 20px;
      font-size: 40px; } }
p.header__middle {
  margin-left: -4px;
  font-size: 54px;
  text-transform: uppercase; }
  @media only screen and (max-width: 1200px) {
    p.header__middle {
      font-size: 4.5vw; } }
  @media only screen and (max-width: 576px) {
    p.header__middle {
      margin-left: -3px; } }
  @media only screen and (max-width: 480px) {
    p.header__middle {
      font-size: 30px; } }
p.header__small {
  position: relative;
  margin-left: -2px;
  padding-bottom: 25px;
  font-size: 34px; }
  @media only screen and (max-width: 1200px) {
    p.header__small {
      font-size: 2.8333333333333335vw; } }
  @media only screen and (max-width: 480px) {
    p.header__small {
      font-size: 20px; } }
  p.header__small::before {
    content: '';
    position: absolute;
    left: 2px;
    bottom: 0;
    width: 250px;
    height: 1px;
    background-color: #FFF; }
p.header__link {
  margin-left: -1px;
  margin-top: 25px; }
  p.header__link a {
    font-size: 18px;
    font-style: italic;
    color: #FFF; }
    @media only screen and (max-width: 576px) {
      p.header__link a {
        font-size: 15px; } }

.header__right-text {
  display: flex;
  align-items: center;
  float: right;
  position: relative;
  padding: 20px 0;
  margin-top: 80px;
  height: 90px;
  background: rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 992px) {
    .header__right-text {
      height: 70px; } }
  @media only screen and (max-width: 767px) {
    .header__right-text {
      margin-top: 0;
      height: 50px; } }
  .header__right-text::before {
    content: '';
    position: absolute;
    left: -45px;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 90px 45px;
    border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent; }
    @media only screen and (max-width: 992px) {
      .header__right-text::before {
        border-width: 0 0 70px 45px; } }
    @media only screen and (max-width: 767px) {
      .header__right-text::before {
        border-width: 0 0 50px 45px; } }
  .header__right-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: calc((-100vw + 1120px) / 2);
    height: 90px;
    width: calc((100vw - 1120px) / 2);
    background: rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 1200px) {
      .header__right-text::after {
        right: calc((-100vw + 940px) / 2);
        width: calc((100vw - 940px) / 2); } }
    @media only screen and (max-width: 992px) {
      .header__right-text::after {
        height: 70px;
        right: calc((-100vw + 700px) / 2);
        width: calc((100vw - 700px) / 2); } }
    @media only screen and (max-width: 767px) {
      .header__right-text::after {
        height: 50px;
        right: calc((-100vw + 520px) / 2);
        width: calc((100vw - 520px) / 2); } }
    @media only screen and (max-width: 576px) {
      .header__right-text::after {
        width: 50px;
        right: -50px; } }
  .header__right-text p {
    text-align: right;
    font-size: 18px;
    font-weight: 700;
    color: #FFF; }
    @media only screen and (max-width: 767px) {
      .header__right-text p {
        font-size: 15px; } }

.header__arrows {
  position: absolute;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  bottom: 45px;
  width: 34px;
  animation: move 2s linear infinite alternate; }
  @media only screen and (max-width: 576px) {
    .header__arrows {
      left: 48%; } }
  .header__arrows:hover {
    cursor: pointer; }

.arrow__svg {
  width: 30px;
  height: 25px;
  transform: rotate(90deg); }
  .arrow__svg:nth-child(1) {
    margin-bottom: -5px; }
    .arrow__svg:nth-child(1) use {
      fill: rgba(255, 255, 255, 0.3);
      animation: pulse_one 3s infinite; }
  .arrow__svg:nth-child(2) {
    margin-bottom: -5px; }
    .arrow__svg:nth-child(2) use {
      fill: rgba(255, 255, 255, 0.6);
      animation: pulse_two 3s infinite; }
  .arrow__svg:nth-child(3) use {
    fill: #FFF; }
  @media only screen and (max-width: 992px) {
    .arrow__svg {
      width: 25px;
      height: 20px; } }

@-webkit-keyframes pulse_one {
  0%, 100% {
    fill: rgba(255, 255, 255, 0.2); }
  50% {
    fill: #FFF; } }
@-moz-keyframes pulse_one {
  0%, 100% {
    fill: rgba(255, 255, 255, 0.2); }
  50% {
    fill: #FFF; } }
@-o-keyframes pulse_one {
  0%, 100% {
    fill: rgba(255, 255, 255, 0.2); }
  50% {
    fill: #FFF; } }
@keyframes pulse_one {
  0%, 100% {
    fill: rgba(255, 255, 255, 0.2); }
  50% {
    fill: #FFF; } }
@-webkit-keyframes pulse_two {
  0%, 100% {
    fill: rgba(255, 255, 255, 0.5); }
  50% {
    fill: #FFF; } }
@-moz-keyframes pulse_two {
  0%, 100% {
    fill: rgba(255, 255, 255, 0.5); }
  50% {
    fill: #FFF; } }
@-o-keyframes pulse_two {
  0%, 100% {
    fill: rgba(255, 255, 255, 0.5); }
  50% {
    fill: #FFF; } }
@keyframes pulse_two {
  0%, 100% {
    fill: rgba(255, 255, 255, 0.5); }
  50% {
    fill: #FFF; } }
@-webkit-keyframes move {
  0%, 100% {
    transform: translateY(5px); }
  50% {
    transform: translateY(15px); } }
@-moz-keyframes move {
  0%, 100% {
    transform: translateY(5px); }
  50% {
    transform: translateY(15px); } }
@-o-keyframes move {
  0%, 100% {
    transform: translateY(5px); }
  50% {
    transform: translateY(15px); } }
@keyframes move {
  0%, 100% {
    transform: translateY(5px); }
  50% {
    transform: translateY(15px); } }
.header__nav {
  display: flex;
  align-items: center;
  background: #FFF;
  min-height: 62px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 992px) {
    .header__nav {
      align-items: flex-start;
      padding-top: 18px; } }

.nav__logo p {
  font-size: 30px;
  font-weight: 800;
  color: #303030;
  line-height: 1em;
  padding-bottom: 5px;
  text-shadow: none; }
  @media only screen and (max-width: 992px) {
    .nav__logo p {
      line-height: 0.8em; } }
.nav__logo span {
  color: #39a38f; }

.portfolio__btn,
.nav-btn {
  display: none; }
  @media only screen and (max-width: 992px) {
    .portfolio__btn,
    .nav-btn {
      display: block; } }

.nav__mobile-btn,
.portfolio__btn {
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  float: right;
  width: 30px;
  height: 25px; }
  .nav__mobile-btn::before, .nav__mobile-btn::after,
  .portfolio__btn::before,
  .portfolio__btn::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #303030;
    transition: all 0.3s ease-in-out; }
  .nav__mobile-btn span,
  .portfolio__btn span {
    display: block;
    width: 100%;
    height: 2px;
    background: #303030;
    transition: all .3s ease-in-out; }
  @media only screen and (max-width: 992px) {
    .nav__mobile-btn,
    .portfolio__btn {
      display: flex; } }
  .nav__mobile-btn.open span,
  .portfolio__btn.open span {
    visibility: hidden; }
  .nav__mobile-btn.open::before,
  .portfolio__btn.open::before {
    transform: translateY(12px) rotateZ(45deg); }
  .nav__mobile-btn.open::after,
  .portfolio__btn.open::after {
    transform: translateY(-12px) rotateZ(-45deg); }

.nav__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 992px) {
    .nav__wrap {
      flex-direction: column; } }

@media only screen and (max-width: 992px) {
  .nav-menu {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, visibility 0.1s ease-in-out; }
    .nav-menu.show_menu {
      max-height: 300px;
      visibility: visible; } }

.main-nav {
  display: flex;
  justify-content: center;
  flex-basis: 80%;
  max-width: 80%; }
  @media only screen and (max-width: 992px) {
    .main-nav {
      margin-bottom: 20px; } }
  .main-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 992px) {
      .main-nav ul {
        flex-direction: column; } }
  .main-nav li {
    padding-left: 22px;
    padding-right: 22px; }
    @media only screen and (max-width: 992px) {
      .main-nav li {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center; } }
  .main-nav a {
    font-size: 14px;
    color: rgba(48, 48, 48, 0.6);
    transition: all .3s ease; }
    .main-nav a:hover {
      color: #303030; }
    @media only screen and (max-width: 992px) {
      .main-nav a {
        align-items: center;
        font-size: 18px;
        color: #303030; } }

@media only screen and (max-width: 992px) {
  .nav__social {
    margin-bottom: 20px; } }
.nav__social i {
  font-size: 20px;
  color: rgba(48, 48, 48, 0.5);
  transition: all .3s ease-in-out; }
  @media only screen and (max-width: 992px) {
    .nav__social i {
      color: #303030; } }
.nav__social a:hover i {
  color: #303030; }
.nav__social ul {
  text-align: center; }
  @media only screen and (max-width: 992px) {
    .nav__social ul {
      text-align: right; } }
.nav__social li {
  display: inline-block;
  padding-left: 7px;
  padding-right: 7px; }

.about {
  margin-top: 60px; }
  @media only screen and (max-width: 992px) {
    .about {
      margin-top: 40px; } }
  .about p {
    text-align: center; }

.about__heading {
  position: relative;
  padding-bottom: 25px; }
  .about__heading::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 12%;
    height: 1px;
    background: rgba(48, 48, 48, 0.2); }
    @media only screen and (max-width: 767px) {
      .about__heading::before {
        width: 30%; } }

p.heading__large {
  font-size: 45px;
  font-weight: 800;
  line-height: 1.4em;
  color: #303030; }
  @media only screen and (max-width: 1200px) {
    p.heading__large {
      font-size: 3.75vw; } }
  @media only screen and (max-width: 640px) {
    p.heading__large {
      font-size: 28px; } }
  p.heading__large span {
    color: #39a38f; }

p.heading__middle {
  font-size: 30px;
  color: rgba(48, 48, 48, 0.5); }
  @media only screen and (max-width: 1200px) {
    p.heading__middle {
      font-size: 2.5vw; } }
  @media only screen and (max-width: 640px) {
    p.heading__middle {
      font-size: 18px; } }

.about__describe p {
  margin-top: 40px;
  font-size: 17px;
  color: rgba(48, 48, 48, 0.5); }

.about__cols {
  margin-top: 65px;
  margin-bottom: 65px; }
  @media only screen and (max-width: 992px) {
    .about__cols {
      margin-bottom: 40px; } }

.about__wrap-block {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 576px) {
    .about__wrap-block {
      padding: 20px; } }
  .about__wrap-block p.block__head {
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #303030; }
    .about__wrap-block p.block__head span {
      color: #39a38f; }
  .about__wrap-block p.block__describe {
    font-size: 13px;
    color: rgba(48, 48, 48, 0.5); }
  .about__wrap-block .block__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px; }
    .about__wrap-block .block__img img {
      width: auto;
      height: auto;
      max-height: 100%; }

.about__statistic {
  padding-top: 62px;
  padding-bottom: 62px;
  background: #f0f0f0; }
  @media only screen and (max-width: 992px) {
    .about__statistic {
      padding-top: 40px;
      padding-bottom: 40px; } }
  @media only screen and (max-width: 480px) {
    .about__statistic .col-6 {
      flex-basis: 100%;
      max-width: 100%; } }

.statistic__wrap-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px; }
  @media only screen and (max-width: 992px) {
    .statistic__wrap-block {
      padding-top: 10px;
      padding-bottom: 10px;
      justify-content: flex-start; } }
  .statistic__wrap-block p.statistic__num {
    font-size: 50px;
    font-weight: 800;
    text-align: left;
    line-height: 1em;
    margin-bottom: 2px;
    color: #39a38f; }
    @media only screen and (max-width: 1200px) {
      .statistic__wrap-block p.statistic__num {
        font-size: 4.166666666666667vw; } }
    @media only screen and (max-width: 640px) {
      .statistic__wrap-block p.statistic__num {
        font-size: 28px; } }
  .statistic__wrap-block p.statistic__heading {
    font-size: 18px;
    text-align: left;
    color: rgba(48, 48, 48, 0.5); }

.statistic__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px; }
  @media only screen and (max-width: 992px) {
    .statistic__img {
      width: 30%;
      margin-right: 30px; } }
  .statistic__img img {
    max-width: 100%; }

.clients {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #39a38f; }
  @media only screen and (max-width: 992px) {
    .clients {
      padding-top: 40px;
      padding-bottom: 40px; } }
  @media only screen and (max-width: 576px) {
    .clients {
      padding-left: 20px;
      padding-right: 20px; } }
  .clients p {
    text-align: center; }
    .clients p.clients__heading {
      margin-bottom: 5px;
      font-size: 27px;
      font-weight: 800;
      color: #FFF; }
    .clients p.clients__text {
      font-size: 23px;
      color: #FFF; }
  .clients i {
    font-size: 20px;
    line-height: 1em;
    vertical-align: middle; }

.clients__head, .services__head, .team__head, .portfolio__head, .contact__head {
  position: relative;
  width: 100%;
  padding-bottom: 25px;
  margin-bottom: 45px; }
  .clients__head::before, .services__head::before, .team__head::before, .portfolio__head::before, .contact__head::before {
    content: '';
    position: absolute;
    width: 12%;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #FFF; }
    @media only screen and (max-width: 767px) {
      .clients__head::before, .services__head::before, .team__head::before, .portfolio__head::before, .contact__head::before {
        width: 30%; } }

.clients__wrap-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%; }
  .clients__wrap-block img {
    max-width: 100%; }

.services {
  padding-top: 40px;
  padding-bottom: 35px;
  background: #FFF; }
  .services p {
    text-align: center; }
    .services p.services__heading {
      margin-bottom: 5px;
      font-size: 27px;
      font-weight: 800;
      color: #000; }
    .services p.services__text {
      font-size: 23px;
      color: rgba(48, 48, 48, 0.5); }

.services__head::before {
  content: '';
  background: rgba(48, 48, 48, 0.2); }

.services__wrap-block {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 30px; }
  @media only screen and (max-width: 576px) {
    .services__wrap-block {
      padding-left: 20px;
      padding-right: 20px; } }
  .services__wrap-block .block__img {
    flex-basis: 42%;
    min-width: 40px;
    margin-right: 20px; }
    @media only screen and (max-width: 767px) {
      .services__wrap-block .block__img {
        min-width: 50px; } }
    .services__wrap-block .block__img img {
      width: auto;
      max-width: 100%; }
  .services__wrap-block p.block__heading {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 25px;
    font-size: 18px;
    text-align: left;
    color: #303030; }
    .services__wrap-block p.block__heading::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 30%;
      height: 1px;
      background: rgba(48, 48, 48, 0.2); }
  .services__wrap-block p.block__describe {
    font-size: 13px;
    text-align: left;
    color: rgba(48, 48, 48, 0.5); }
  .services__wrap-block span {
    color: #39a38f; }

.qoute {
  padding-top: 75px;
  padding-bottom: 60px;
  background: #39a38f; }
  @media only screen and (max-width: 576px) {
    .qoute {
      padding-left: 20px;
      padding-right: 20px; } }

.qoute__block {
  position: relative; }
  .qoute__block p {
    text-align: center; }
    .qoute__block p.block__text {
      position: relative;
      padding-bottom: 25px;
      margin-bottom: 25px;
      font-size: 21px;
      color: #FFF; }
      @media only screen and (max-width: 640px) {
        .qoute__block p.block__text {
          font-size: 18px; } }
      .qoute__block p.block__text::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 12%;
        height: 1px;
        background: #FFF; }
        @media only screen and (max-width: 767px) {
          .qoute__block p.block__text::before {
            width: 30%; } }
    .qoute__block p.block__author {
      font-size: 18px; }
  .qoute__block b {
    font-weight: 700; }
  .qoute__block span {
    position: absolute;
    transform: rotate(180deg);
    font-size: 200px;
    line-height: 0;
    font-style: italic;
    color: rgba(255, 255, 255, 0.2); }
    @media only screen and (max-width: 992px) {
      .qoute__block span {
        font-size: 120px; } }
    @media only screen and (max-width: 640px) {
      .qoute__block span {
        display: none; } }
    .qoute__block span:first-child {
      left: -55px;
      top: -55px; }
      @media only screen and (max-width: 992px) {
        .qoute__block span:first-child {
          left: -25px;
          top: -25px; } }
    .qoute__block span:last-child {
      right: -55px;
      bottom: 55px; }
      @media only screen and (max-width: 992px) {
        .qoute__block span:last-child {
          right: -25px;
          bottom: 25px; } }

.team, .portfolio {
  background: #FFF; }

.team__head, .portfolio__head, .contact__head {
  padding-top: 60px;
  padding-bottom: 25px;
  margin-bottom: 60px; }
  @media only screen and (max-width: 992px) {
    .team__head, .portfolio__head, .contact__head {
      padding-top: 40px;
      margin-bottom: 40px; } }
  .team__head::before, .portfolio__head::before, .contact__head::before {
    background: rgba(48, 48, 48, 0.2); }
  .team__head p, .portfolio__head p, .contact__head p {
    text-align: center; }
    .team__head p.team__heading, .portfolio__head p.team__heading, .contact__head p.team__heading {
      margin-bottom: 5px;
      font-size: 27px;
      font-weight: 800;
      color: #000; }
    .team__head p.team__text, .portfolio__head p.team__text, .contact__head p.team__text {
      font-size: 23px;
      color: rgba(48, 48, 48, 0.5); }

.team__main {
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
  background: #f0f0f0; }
  .team__main::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 30px;
    border-color: transparent transparent #f0f0f0 transparent;
    top: -30px;
    left: 50%;
    transform: translateX(-50%); }

.team__wrap {
  position: relative; }
  @media only screen and (max-width: 1050px) {
    .team__wrap {
      max-width: 90%;
      margin: 0 auto; } }
  @media only screen and (max-width: 992px) {
    .team__wrap {
      max-width: 100%; } }
  @media only screen and (max-width: 850px) {
    .team__wrap {
      max-width: 90%; } }
  @media only screen and (max-width: 767px) {
    .team__wrap {
      max-width: 100%; } }
  @media only screen and (max-width: 640px) {
    .team__wrap {
      max-width: 80%; } }
  @media only screen and (max-width: 576px) {
    .team__wrap {
      max-width: 75%; } }
  .team__wrap button {
    display: block;
    position: absolute;
    width: 27px;
    height: 35px;
    top: 50%;
    padding: 0;
    background: transparent;
    border: none;
    outline: none; }
    .team__wrap button:hover {
      cursor: pointer; }
      .team__wrap button:hover use {
        fill: #303030; }
    @media only screen and (max-width: 576px) {
      .team__wrap button {
        width: 23px; } }
    .team__wrap button svg {
      width: 100%;
      height: 100%; }
    .team__wrap button use {
      fill: rgba(48, 48, 48, 0.2); }
    .team__wrap button.next {
      right: -40px;
      transform: translateY(-50%); }
      @media only screen and (max-width: 576px) {
        .team__wrap button.next {
          right: -30px; } }
    .team__wrap button.prev {
      left: -40px;
      transform: rotateY(180deg) translateY(-50%); }
      @media only screen and (max-width: 576px) {
        .team__wrap button.prev {
          left: -30px; } }

.team__item {
  padding-left: 10px;
  padding-right: 10px;
  outline: none; }

.item__img {
  height: 225px;
  background: #39a38f; }
  @media only screen and (max-width: 1200px) {
    .item__img {
      height: 18.75vw;
      min-height: 180px; } }

.item__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 18px 20px;
  border-bottom: 2px solid #39a38f;
  background: #FFF; }
  .item__info .name {
    font-size: 18px;
    line-height: 1.4em;
    color: #303030; }
  .item__info .position {
    font-size: 14px;
    color: rgba(48, 48, 48, 0.5); }

@media only screen and (max-width: 992px) {
  .item__social {
    margin-top: 5px; } }
.item__social i {
  color: rgba(48, 48, 48, 0.4);
  transition: all .3s ease; }
.item__social a {
  margin-right: 10px;
  outline: none; }
  @media only screen and (max-width: 992px) {
    .item__social a {
      margin-right: 5px; } }
  .item__social a:hover i {
    color: #303030; }

@media only screen and (max-width: 480px) {
  .slick-dotted.slick-slider {
    margin-bottom: 50px; } }

@media only screen and (max-width: 480px) {
  .slick-dots {
    bottom: -50px; } }
.slick-dots li {
  width: 20px;
  height: 20px;
  margin: 0; }
  .slick-dots li button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 2px; }
    .slick-dots li button::before {
      content: '';
      display: block;
      position: static;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #303030; }
  .slick-dots li.slick-active button::before {
    opacity: 1;
    background: #39a38f; }

.portfolio__header {
  padding-bottom: 45px; }

.portfolio__head, .contact__head {
  padding-bottom: 45px; }
  .portfolio__head p, .contact__head p {
    text-align: center; }
    .portfolio__head p.portfolio__heading, .contact__head p.portfolio__heading {
      margin-bottom: 5px;
      font-size: 27px;
      font-weight: 800;
      color: #000; }
    .portfolio__head p.portfolio__text, .contact__head p.portfolio__text {
      font-size: 23px;
      color: rgba(48, 48, 48, 0.5); }

.portfolio__btn {
  display: none;
  margin: 0 auto;
  float: none; }
  @media only screen and (max-width: 576px) {
    .portfolio__btn {
      display: flex; } }

.portfolio__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  @media only screen and (max-width: 576px) {
    .portfolio__nav {
      display: block;
      background: #FFF; } }
  @media only screen and (max-width: 576px) {
    .portfolio__nav ul {
      margin-top: 10px;
      max-height: 0;
      visibility: hidden;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      background: #FFF; } }
  .portfolio__nav.show_menu ul {
    max-height: 300px;
    visibility: visible; }
  .portfolio__nav li {
    display: inline-block;
    padding: 0 20px; }
    @media only screen and (max-width: 576px) {
      .portfolio__nav li {
        display: block;
        padding: 15px;
        text-align: center; } }
  .portfolio__nav a {
    font-size: 16px;
    color: rgba(48, 48, 48, 0.5);
    transition: all 0.3s ease; }
    .portfolio__nav a:hover {
      color: #303030; }
    @media only screen and (max-width: 576px) {
      .portfolio__nav a {
        color: #303030; } }

.portfolio__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vw;
  max-height: 300px;
  background-color: #39a38f; }
  .portfolio__item img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  @media only screen and (max-width: 767px) {
    .portfolio__item {
      height: 30vw; } }
  @media only screen and (max-width: 480px) {
    .portfolio__item {
      height: 50vw; } }

.portfolio__item--color {
  background-color: rgba(57, 163, 143, 0.8); }
  @media only screen and (max-width: 767px) {
    .portfolio__item--color {
      background-color: #39a38f; } }

@media only screen and (max-width: 767px) {
  .portfolio__item--tablet {
    background-color: rgba(57, 163, 143, 0.8); } }

.portfolio__main .col-md-3 {
  padding-left: 0;
  padding-right: 0; }

.item__block {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .item__block img {
    width: auto;
    height: auto;
    margin-bottom: 20px; }
  .item__block p {
    text-align: center; }
    .item__block p.item__name {
      margin-bottom: 10px; }
      .item__block p.item__name a {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.4em;
        color: #FFF; }
        @media only screen and (max-width: 480px) {
          .item__block p.item__name a {
            font-size: 16px; } }
    .item__block p.item__text a {
      font-size: 16px;
      color: #FFF; }
      @media only screen and (max-width: 480px) {
        .item__block p.item__text a {
          font-size: 14px; } }

.contact__head p {
  text-align: center; }
  .contact__head p.contact__heading {
    margin-bottom: 5px;
    font-size: 27px;
    font-weight: 800;
    color: #000; }
  .contact__head p.contact__text {
    font-size: 23px;
    color: rgba(48, 48, 48, 0.5); }

.contact__main {
  position: relative;
  padding-top: 145px;
  padding-bottom: 77px;
  background: #f0f0f0;
  background: -moz-linear-gradient(to bottom, #39a38f 0, #39a38f 38.33333vw, #f0f0f0 38.33333vw, #f0f0f0 100%);
  background: -webkit-gradient(to bottom, #39a38f 0, #39a38f 38.33333vw, #f0f0f0 38.33333vw, #f0f0f0 100%);
  background: -webkit-linear-gradient(to bottom, #39a38f 0, #39a38f 38.33333vw, #f0f0f0 38.33333vw, #f0f0f0 100%);
  background: -o-linear-gradient(to bottom, #39a38f 0, #39a38f 38.33333vw, #f0f0f0 38.33333vw, #f0f0f0 100%);
  background: -ms-linear-gradient(to bottom, #39a38f 0, #39a38f 38.33333vw, #f0f0f0 38.33333vw, #f0f0f0 100%);
  background: linear-gradient(to bottom, #39a38f 0, #39a38f 38.33333vw, #f0f0f0 38.33333vw, #f0f0f0 100%); }
  @media only screen and (max-width: 1200px) {
    .contact__main {
      padding-top: 12.083333333333334vw;
      padding-bottom: 6.416666666666667vw; } }
  @media only screen and (max-width: 576px) {
    .contact__main {
      background: #f0f0f0;
      background: -moz-linear-gradient(to bottom, #39a38f 0, #39a38f 30%, #f0f0f0 30%, #f0f0f0 100%);
      background: -webkit-gradient(to bottom, #39a38f 0, #39a38f 30%, #f0f0f0 30%, #f0f0f0 100%);
      background: -webkit-linear-gradient(to bottom, #39a38f 0, #39a38f 30%, #f0f0f0 30%, #f0f0f0 100%);
      background: -o-linear-gradient(to bottom, #39a38f 0, #39a38f 30%, #f0f0f0 30%, #f0f0f0 100%);
      background: -ms-linear-gradient(to bottom, #39a38f 0, #39a38f 30%, #f0f0f0 30%, #f0f0f0 100%);
      background: linear-gradient(to bottom, #39a38f 0, #39a38f 30%, #f0f0f0 30%, #f0f0f0 100%); } }

.contact__name-block {
  position: relative;
  width: 165px;
  padding: 20px;
  margin: 0 auto 105px;
  background: #FFF; }
  @media only screen and (max-width: 1200px) {
    .contact__name-block {
      margin: 0 auto 8.75vw; } }
  @media only screen and (max-width: 480px) {
    .contact__name-block {
      margin-bottom: 40px; } }
  .contact__name-block::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #FFF transparent transparent transparent; }
  .contact__name-block p {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #303030; }
    @media only screen and (max-width: 767px) {
      .contact__name-block p {
        font-size: 24px; } }
  .contact__name-block span {
    color: #39a38f; }

.contact__form-wrap {
  padding: 45px;
  background-color: #FFF; }
  @media only screen and (max-width: 1200px) {
    .contact__form-wrap {
      padding: 3.75vw; } }

.contact__form button {
  display: block;
  padding: 15px 20px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  background: #39a38f;
  color: #FFF;
  outline: none; }
  .contact__form button:hover {
    cursor: pointer; }

.form__wrap-field {
  position: relative;
  width: 100%;
  margin-bottom: 25px; }
  .form__wrap-field label {
    display: inline-block;
    padding-left: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #303030; }
  .form__wrap-field input,
  .form__wrap-field textarea {
    display: block;
    width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    outline: none;
    background: #FFF;
    color: #303030;
    overflow: hidden;
    border: 1px solid rgba(48, 48, 48, 0.2); }
    @media only screen and (max-width: 992px) {
      .form__wrap-field input,
      .form__wrap-field textarea {
        padding: 10px;
        font-size: 14px; } }
  .form__wrap-field textarea {
    resize: none; }
  .form__wrap-field label.error {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 12px;
    color: #39a38f; }

.info__text-block {
  margin-bottom: 45px; }

.contact__info p.info__head {
  margin-bottom: 30px;
  font-size: 23px;
  font-weight: 700;
  color: #303030; }
.contact__info p.info__text {
  margin-bottom: 25px;
  font-size: 14px;
  color: rgba(48, 48, 48, 0.5); }
@media only screen and (max-width: 767px) {
  .contact__info {
    padding-top: 20px; } }

.info__block {
  display: flex;
  align-items: center;
  margin-bottom: 25px; }
  .info__block img {
    width: 15%;
    height: auto;
    margin-right: 20px; }
    @media only screen and (max-width: 992px) {
      .info__block img {
        width: 10%; } }
    @media only screen and (max-width: 767px) {
      .info__block img {
        width: 7%; } }
  .info__block p {
    font-size: 18px;
    color: #303030; }
    @media only screen and (max-width: 992px) {
      .info__block p {
        font-size: 14px; } }
    @media only screen and (max-width: 767px) {
      .info__block p {
        font-size: 16px; } }

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(48, 48, 48, 0.2); }

.footer__text {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%; }
  .footer__text p {
    font-size: 15px;
    color: rgba(48, 48, 48, 0.5); }
    @media only screen and (max-width: 767px) {
      .footer__text p {
        font-size: 12px; } }

.footer__arrow {
  width: 30px;
  height: 30px; }
  @media only screen and (max-width: 992px) {
    .footer__arrow {
      width: 20px;
      height: 20px; } }
  .footer__arrow:hover {
    cursor: pointer; }
    .footer__arrow:hover use {
      fill: #303030;
      transition: all 0.3s ease; }
  .footer__arrow svg {
    width: 100%;
    transform: rotate(-90deg); }
  .footer__arrow use {
    fill: rgba(48, 48, 48, 0.5);
    transition: all 0.3s ease; }

.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%; }
  .footer__social ul {
    display: flex;
    align-items: center; }
  .footer__social a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    color: rgba(48, 48, 48, 0.5);
    transition: all 0.3s ease; }
    .footer__social a:hover {
      color: #303030; }

/*# sourceMappingURL=index.css.map */
